* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body { 
    
    
    background-color: #758a95;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
}
.cuerpo h1 {
    margin-top: 0; 
    line-height: 1; 
    font-size: 25px;
}
h2{
    padding-top: 5px; 
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: blue;
}
h3{
    padding-top: 20px; 
    text-align: center;
}
.cuerpo {
    font-family: 'Times New Roman', Times, serif;
    position: absolute; 
    top: 30%; 
    left: 63%; 
    transform: translate(-50%, -50%); 
    z-index: 1;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px; 
    border: 2px solid rgba(0, 0, 0, 0.7); 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    width: 20%;
    height: 25%;
}
.cuerpo2 {
    font-family: 'Times New Roman', Times, serif;
    position: absolute; 
    top: 30%; 
    left: 85%; 
    transform: translate(-50%, -50%); 
    z-index: 1;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px; 
    border: 2px solid rgba(0, 0, 0, 0.7); 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;

    display: inline-block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    width: 20%;
    height: 25%;
}

/* Contenedor con la imagen de fondo que cubre toda la pantalla */
.fondo-opaco {
    background-image: url('../imagenes/fondoDoc.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 100vh; /* 100% de la altura de la pantalla */
    width: 100vw; /* 100% del ancho de la pantalla */
    position: relative;
    margin: 0; /* Sin margen para que cubra toda la pantalla */
}

/* Capa opaca en la mitad izquierda */
.texto-overlay {
    position: absolute;
    top: 0;
    left: 0; /* Mueve la capa a la izquierda */
    width: 50%; /* Cubre la mitad izquierda */
    height: 100%; /* Cubre todo el alto del contenedor */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo opaco */
    color: white; /* Color del texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Estilo del texto */
.texto-overlay h1 {
    margin: 0;
    font-size: 3em; /* Ajusta el tamaño según necesites */
}

.texto-overlay p {
    font-size: 1.5em;
}


   
.container {
    max-width: 1200px;

    margin: -8px auto;
}

.content {
    min-height: 80px;
    background: linear-gradient(
        90deg,
        rgba(0, 48, 87, 1) 0%,   
        rgba(0, 82, 153, 1) 70% 
    );
    width: 100%;
    height: 70px;
    position: relative;
    z-index: 2;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    width:107px; 
    height: 60px;
    padding-top: 10px;
    
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #DEDEDE;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover {
    color: #ffffff;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

h1 {
    margin: 120px 0 0;
    text-align: center; 
}

@media (max-width: 991px) {
    .content {
        min-height: 80px;

    }


    .menu {
        top: 0;
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: linear-gradient(
            90deg,
            rgba(0, 48, 87, 1) 0%,   
            rgba(0, 82, 153, 1) 70% 
        );
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: block;
    }
}
.lista-iconos {
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.icono-texto {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
}

.icono {
    width: 40px; 
    height: 40px;
    margin-right: 10px;
}

.texto {
    font-size: 1.2em;
    line-height: 1;
    display: flex;
    align-items: center;
}
.col{
 flex-basis: 0;
 flex-grow: 1;
 max-width: 100%;
}

h5{
    font-size: 18px;
    font-weight: 600;
  
}

.img-fluid {
    max-width: 100%;
    height: auto;
}